
@{
    ViewBag.Title = "AssignProject";
}

<h2>Assign Project</h2>
<h2>@ViewBag.Message</h2>
@using (Html.BeginForm())
{
    <p>
        @Html.DropDownList("UserId", "Select One")
        @Html.DropDownList("projectId", "Select One")
        <input type="submit" value="Add" />
    </p>
}